:root {
    --white:  #dfe6e9;
    --dark-white: #b2bec3;
    --gray: #4e5658;
    --dark-gray: #2d3436;
    --red: #d63031;
    --light-red: #ff7675;
    --orange: #fdcb6e;
    --dark-orange: #b4634f;
    --light-blue: #7dc3f1;
    --blue: #1970b3;
}* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, 'Courier New', monospace;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 5vh;
    background-image: url(images/bg-trianglifyresized.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}
#gray {
    color: var(--gray);
}
#blue {
    color: var(--blue);
}
#light-blue {
    color: var(--light-blue);
}
#white {
    color: var(--white);
}
#dark-orange {
    color: var(--dark-orange);
}
.typing {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.typing {
    animation: type 4s steps(19);
}
@keyframes type {
        0% {width: 0ch; border-right: .1em solid var(--white);}
        100% {width: 19ch; border-right: .1em solid var(--white);}
}
.cursor {
    display: inline-block;
    width: 3px;
    background-color: var(--white);
    margin-left: .1em;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {background-color: var(--white);}
    49% {background-color: var(--white);}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: var(--white);}
}