:root {
    --main-white:  #fafefe;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}
.bgimage{
    background-image: url(images/bg-trianglify.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: x-large;
}
body, html {
    color: var(--main-white);
    background-color: black;
    background-image: linear-gradient(0deg, #485460 0%, #1e272e 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.caption {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
}
header {
    text-align: center;
    font-size: xx-large;
    text-shadow: 0 0 20px black;
    text-decoration-line: underline;
    text-decoration-color: var(--main-red);
}
#linkList {
    display: flex;
    justify-content: center;
    margin-left: -50%;
}
#linklist ul {
    position: fixed;
    line-height: 2em;
    margin-top: 15%;
}
#linklist li {
    list-style-type: square;
    color: var(--main-red);
}
#linklist a {
    color: cornflowerblue;
    text-shadow: 0 0 5px black;
    position: fixed;
    text-decoration: none;
    transition: .5s ease;
}
#linklist a:hover {
    font-size: xx-large;
}